/*
# ignore all but these:
!src/
!.gitignore
!pom.xml
!CHANGE_LOGS.html
!README.md
!TERMS.md
!LICENSE
!nbactions.xml
!nb-configuration.xml
!.travis.yml
!Dockerfile
!docker-entrypoint.sh
!start-container-sample.sh
!start.sh
!.sryci.yaml
!/jmx/

src/main/webapp/skins/*
!src/main/webapp/skins/mobile
!src/main/webapp/skins/yilia
!src/main/webapp/skins/next
